<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
 <td> <%= image_tag(@room.avatar_url, :width => 400) if @room.avatar.present? %></td>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
